<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="{{staticDomain}}/public/asset/jquery.min.js"></script>
        <title>home</title>
    </head>
    <body>
        <h1>begin</h1>
        <h1>end</h1>
        <div></div>
        <span class="ggd"></span>

        <h1 class="gongdf">begin2</h1>
    
     #include("./fragment/b/b.njk")
    <h1>end2</h1>
    data==={{data.name}}
        <img src="./images/00.png" alt="">
        <div style="color: #888" class="div">divgg是也</div>
    </body>
</html>