
body{
    color: #333333;
    .div{
        cursor: pointer;
        color: green;
        width: 70px;
        height: 90px;
        color: red;
        background: url('./images/00.png') no-repeat center;
    }
}

